{% extends 'main/base.html' %}
{% load static %}

    {% block content %}

    <h1>{{category.name}}</h1>

    {% for engine in engins %}
    <div class="engine">
        <div class="engine_head"><img src="{{engine.image.url}}" alt="{{engine.name}}"></div>
        <div class="engine_boby">
            <h3 class="engine_name">{{engine.name}}</h3>
            <p class="engine_power">{{engine.power}}</p>
            <a href={{engine.get_absolute_url}} class="engine_buy">Детальнее</a>
        </div>
    </div>

    {% endfor %}

{% endblock  %}