{% extends 'main/base.html' %}
{% load static %}

    {% block content %}

    {% comment %} <h1>{{category.name}}</h1> {% endcomment %}

    <div class="engine_detail">
        <div class="engine_detaile_head"><img src="{{engine.image.url}}" alt="{{engine.name}}"></div>
        <div class="engine_detail_boby">
            <h3 class="engine_detail_name">{{engine.name}}</h3>
                <p class="engine_detail_price"> Цена: {{engine.price}}</p>
                <p class="engine_detail_description"> Описание: {{engine.description}}</p>
                <p class="engine_detail_product_information"> Информация: {{engine.product_information}}</p>
                <p class="engine_detail_stock"> {% if engine.stock > 0 %}Товаров на складе: {{engine.stock}} {% else %}Товаров нет на складе {% endif %}</p>

            <form action={% url 'cart:cart_add' engine.id %} method='POST'>
                <div class="quantity">

                {{ cart_product_form.quantity }}

                </div>

                {% csrf_token %}
                <button class="engine_buy" href=>Купить</button>

            </form>
        </div>
    </div>


{% endblock %}