{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">

</head>
<body>
    <div class="conteiner">
    <h1>Ваша корзина</h1>
    <div class="cart">
    {% if cart|length == 0 %}
    <div class="cart_empty">
        <h2 class="cart_empty_headline">Корзина пуста</h2>
    </div>
    {% else %}
        <div class="cart_item_list">
        {% for item in cart %}
        {% with product=item.product %}
        <div class="cart_item">
            <div class="cart_item_image">
                <a href="{{ product.get_absolut_url }}">
                <img src="{{product.image.url}}">
                </a>
            </div>

            <div class="cart_item_name">
                {{ product.name}}
            </div>

            <div class="cart_item_quantity">
                {{ item.quantity }} шт.
            </div>

            <div class="cart_item_cost">
                <p>Стоимость: {{ item.total_price }} Рублей</p>
                <p>Цена за штуку: {{ item.price }} Рублей</p>
            </div>

            <a class="cart_item_remove" href="{% url "cart:cart_remove" product.id %}">x</a>

        </div>
        {% endwith %}
        {% endfor %}
    </div>

    <div class="cart_details">
        <div class="cart_total">
            <h5>Сумма: {{ cart.get_total_price }}</h5>
        </div>
        <a href="{% url "main:index" %}" class="cart_shop">Продолжить покупку</a>
        {% comment %} <a href="{% url "orders:order_create" %}" class="cart_order">
            Оформить заказ
        </a> {% endcomment %}
    </div>

    </div>

        </div>
    {% endif %}

    </div>
    </div>
</body>
</html>